/* * * * * * * * * * * *
Theme: Farrow Commercial
* * * * * * * * * * * */
/* Foundation */
@import url(normalize.css);
@import url(clearfix.css);
@import url(fonts.css);
/* Universal styles */
* {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

a {
  color: inherit;
  text-decoration: none; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

/* Header */
.primary-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.home-body .primary-header {
  min-height: 900px; }

.header {
  padding: 40px 0; }
  .header .mobile-logo {
    display: none; }
  .header h1 {
    color: white;
    text-shadow: -1.5px 1.5px 0 black;
    font-size: 5.75rem;
    text-transform: uppercase;
    margin: 0; }
  .header .phone a {
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
    text-shadow: 0 0 0 #000; }
  .header .branding {
    padding-top: 5px; }
  .header .navigation .menu-main-menu-container {
    padding-top: 30px;
    width: 100%; }
    .header .navigation .menu-main-menu-container .current_page_item a {
      text-decoration: underline; }
    .header .navigation .menu-main-menu-container ul {
      margin: 0; }
      .header .navigation .menu-main-menu-container ul li {
        list-style: none;
        padding: 0;
        display: inline-block;
        padding-right: 32px; }
        .header .navigation .menu-main-menu-container ul li:last-child {
          padding-right: 0; }
        .header .navigation .menu-main-menu-container ul li a {
          font-family: "Oswald", sans-serif;
          font-size: 2.7rem;
          text-transform: uppercase;
          display: block;
          color: white; }

/* Content */
.main-content h2 {
  margin-top: 80px;
  color: #767676;
  font-size: 3.8rem;
  text-align: center; }
.main-content .callout {
  background-color: #14397d;
  padding: 90px 0; }
  .main-content .callout h2 {
    margin-top: -15px;
    font-size: 5.8rem;
    font-family: "Montserrat Light", sans-serif;
    position: relative;
    color: white; }
    .main-content .callout h2:after {
      content: "";
      height: 4px;
      width: 48%;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%); }
.main-content .services {
  padding-bottom: 80px; }
  .main-content .services h2 {
    margin-bottom: 40px; }
  .main-content .services .home-boxes {
    min-height: 576px; }
    .main-content .services .home-boxes .home-box {
      opacity: 0; }
      .main-content .services .home-boxes .home-box .home-box-content {
        background-color: #edeeef; }
      .main-content .services .home-boxes .home-box h3 {
        margin: 30px 0;
        font-size: 2.3rem;
        font-family: "Oswald", sans-serif;
        padding: 0 40px; }
      .main-content .services .home-boxes .home-box img {
        width: 100%; }
      .main-content .services .home-boxes .home-box p {
        font-family: "Montserrat Light", sans-serif;
        padding: 0 40px 75px;
        margin: 0;
        color: #767676;
        font-weight: 100; }
.main-content .about h2 {
  text-align: left; }
.main-content .about p {
  font-size: 2.3rem;
  margin: 33px 0;
  line-height: 1.3; }
.main-content .about .left-about {
  padding: 0 100px;
  background-color: #edeeef; }
.main-content .about .right-about {
  min-height: 600px;
  background: transparent; }
.main-content .about .about-img {
  width: 100%; }
.main-content .about .info-bar {
  background-color: #14397d;
  padding: 30px 60px; }
  .main-content .about .info-bar .info-bar-box {
    text-align: center;
    position: relative; }
    .main-content .about .info-bar .info-bar-box:not(:last-child):after {
      content: "";
      position: absolute;
      height: 50%;
      width: 3px;
      background-color: #fff;
      top: 50%;
      transform: translateY(-50%);
      right: -3px; }
    .main-content .about .info-bar .info-bar-box .info-bar-box-content {
      text-align: left;
      display: inline-block; }
  .main-content .about .info-bar h2 {
    font-size: 6rem;
    margin: 0;
    color: #fff; }
  .main-content .about .info-bar p {
    color: #aaaaaa;
    margin: 0;
    font-size: 2rem;
    line-height: 1.1; }
.main-content .clients {
  padding-bottom: 60px; }
  .main-content .clients h2 {
    text-align: left; }
  .main-content .clients .clients-row {
    text-align: center; }
  .main-content .clients .client-img {
    display: inline-block;
    padding: 18px; }
.main-content .contact {
  color: white;
  padding: 60px 0;
  background: #14397d;
  background: -moz-linear-gradient(top, #14397d 44%, #5b5b5b 44%);
  background: -webkit-linear-gradient(top, #14397d 44%, #5b5b5b 44%);
  background: linear-gradient(to bottom, #14397d 44%, #5b5b5b 44%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14397d', endColorstr='#5b5b5b',GradientType=0 ); }
  .main-content .contact h2 {
    color: white;
    margin: 0;
    text-align: left;
    margin-bottom: 40px; }
  .main-content .contact .contact-info h2 {
    margin: 20px 0;
    font-size: 3.1rem; }
  .main-content .contact .contact-info .form-box {
    padding-right: 100px; }
    .main-content .contact .contact-info .form-box p {
      margin-bottom: 15px; }

.interior {
  background-color: #e9e9eC; }
  .interior .banner_image {
    padding: 0 20px; }
    .interior .banner_image img {
      width: 100%;
      height: auto; }
  .interior .the_content {
    padding: 10px 20px;
    padding-bottom: 50px; }
  .interior .sidebar {
    background-color: #367AB8;
    color: white; }

/* Footer */
.footer {
  background-color: #5b5b5b;
  color: white;
  padding: 60px 0; }
  .footer p {
    margin: 0; }
  .footer .disclaimer p {
    text-align: right; }
    .footer .disclaimer p a {
      display: inline-block;
      padding: 0 0 0 20px; }

/* Media Queries */
@media (max-width: 1200px) {
  /* Header */
  .header h1 {
    font-size: 5rem; } }
@media (max-width: 980px) {
  .home-body .primary-header {
    min-height: 580px; }

  .main-content .about .left-about {
    padding-top: 10px;
    padding-bottom: 10px; }

  .right-about,
  .main-content .about .info-bar .info-bar-box:not(:last-child):after {
    display: none; }

  .main-content .about .info-bar {
    text-align: center; }

  .main-content .contact .contact-info .form-box {
    padding-right: 15px; }

  .main-content .about .info-bar .info-bar-box {
    display: inline-block;
    vertical-align: top; }

  .main-content .services {
    background-color: #fff; }

  .home-box-image {
    overflow: hidden;
    height: 200px; }
    .home-box-image img {
      margin-top: -200px; }

  .clients {
    background-color: #fff; }

  .header h1 {
    text-align: center; }
  .header .mobile-logo {
    display: inline-block;
    height: auto;
    width: 34px; }
  .header .phone {
    display: block;
    text-align: center; }
  .header .pull-right {
    float: none !important; }
  .header .branding img {
    display: none; }
  .header .menu-main-menu-container {
    display: none; } }

/*# sourceMappingURL=theme.css.map */
