$darkblue: #14397d;
$lightblue: rgb(2,129,200);
$verylightblue: #56b7ed;
$lightgray: #71716d;

$oswald: 'Oswald', sans-serif;
$droid: 'Droid Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$montserrat_light: 'Montserrat Light', sans-serif;